* {
  box-sizing: border-box;
  font-family: Epilogue , sans-serif;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  text-align: center;
}

body {
  background-image: url('./images/background.png');
  background-size: cover;
  color: white;
}


.App {
  height: 100vh;
  text-align: center;
  width: 100vw;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 60px;
  margin: 70px 0 200px;
  text-align: center;
}

.mission-box {
  border: 1px solid white;
  border-radius: 17px;
  display: flex;
  height: 192px;
  margin: 20px;
  position: relative;
  width: 496px;
  background-color: rgba(12, 9, 9, 0.3);
  transition: all 1s ease;
}

.mission-box:hover {
  transition: all 1s ease ;
  transform: scale(1.1);
}


.mission-box p:first-of-type {
  font-size: 30px;
  left: 30px;
  position: absolute;
  top: 20px;
}


.boxed {
  background-color: rgba(255, 255, 255, 0.1);
  width: fit-content;
  margin: auto;
  margin-top: 150px;
  border-radius: 20px;
  padding: 30px 20px;
}

hr {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 860px;
}

.mission-box p:nth-child( 2 ) {
  bottom: 20px;
  left: 20px;
  position: absolute;
  font-size: 16px;
}

.mission-box p:nth-child( 3 ) {
  bottom: 20px;
  left: 100px;
  position: absolute;
  font-size: 16px;
}

.mission-box p:nth-child( 4 ) {
  bottom: 20px;
  right: 30px;
  position: absolute;
  font-size: 16px;
}

hr {
  rotate: 180px;
}

.solar {
  display: flex;
  flex-direction: column;
}

.solar h2 {
  font-family: Epilogue , sans-serif;
  margin-bottom: 60px;
}

.planets {
  align-items: baseline;
  display: flex;
  justify-content: center;
  margin: auto;
}

span {
  margin-right: 6px;
  font-size: 16px;
}
